* {
    box-sizing:border-box;
}
html{
    font-size:100px;
}
body{
    font-size:16px;
    background:#2c3242;
}
.gameContainer {
    padding: 6.6667%;
}

.map {
    position:relative;
    width:100%;
    .gift {
        position:absolute;
        top:0;
        width:20%;
        border:.04rem solid #fff;
        border-radius:.05rem;
        min-height:.1rem;
        background: rgba(255, 255, 255, 1) url(https://cdn2.iconfinder.com/data/icons/flat-ui-free/200/gift.png) no-repeat center;
        background-size: cover;
        box-shadow:0 0 .2rem rgba(0,0,0,.6);
        &:after{
            content:'';
            display:block;
            clear:both;
            padding-top:100%;
        }
        .triangle{
            position:absolute;
            bottom:-.16rem;
            left:50%;
            width:0;
            height:0;
            margin-left:-.08rem;
            border:.08rem solid transparent;
            border-top-color:rgba(255,255,255,1);
        }
    }
    .gift1{
        left:0;
        background-image: url(http://p0.55tuanimg.com/static/goods/ckeditor/2013/02/04/17/ckeditor_1359971186_8668_wm.jpg);
    }
    .gift2{
        left:20%;
        display: none;
    }
    .gift3{
        left:40%;
        background-image: url(http://img5q.duitang.com/uploads/item/201403/07/20140307192153_SAzAc.jpeg);
    }
    .gift4{
        left:60%;
        display: none;
    }
    .gift5{
        left:80%;
        background-image: url(http://tfood-image.stor.appsina.com/606/1/0/13077f53441dd44a2184eb7637c38ed1.jpg);
    }
    .pathContainer{
        padding-top:20%;
        .path {
            width: 100%;
            height: 2px;
            margin: .2rem auto;

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202532+0,40d4cd+10,40d4cd+50,40d4cd+90,202532+100&amp;0+0,1+10,1+50,1+90,0+100 */

            background: -moz-linear-gradient(left, rgba(32, 37, 50, 0) 0%, rgba(64, 212, 205, 1) 10%, rgba(64, 212, 205, 1) 50%, rgba(64, 212, 205, 1) 90%, rgba(32, 37, 50, 0) 100%);
            /* FF3.6+ */

            background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(32, 37, 50, 0)), color-stop(10%, rgba(64, 212, 205, 1)), color-stop(50%, rgba(64, 212, 205, 1)), color-stop(90%, rgba(64, 212, 205, 1)), color-stop(100%, rgba(32, 37, 50, 0)));
            /* Chrome,Safari4+ */

            background: -webkit-linear-gradient(left, rgba(32, 37, 50, 0) 0%, rgba(64, 212, 205, 1) 10%, rgba(64, 212, 205, 1) 50%, rgba(64, 212, 205, 1) 90%, rgba(32, 37, 50, 0) 100%);
            /* Chrome10+,Safari5.1+ */

            background: -ms-linear-gradient(left, rgba(32, 37, 50, 0) 0%, rgba(64, 212, 205, 1) 10%, rgba(64, 212, 205, 1) 50%, rgba(64, 212, 205, 1) 90%, rgba(32, 37, 50, 0) 100%);
            /* IE10+ */

            background: linear-gradient(to right, rgba(32, 37, 50, 0) 0%, rgba(64, 212, 205, 1) 10%, rgba(64, 212, 205, 1) 50%, rgba(64, 212, 205, 1) 90%, rgba(32, 37, 50, 0) 100%);
            /* W3C */
        }
        .node {
            position: absolute;
            bottom: -.03rem;
            width: .08rem;
            height: .08rem;
            margin-left: -.04rem;
            border-radius: 50%;
            background: #40d4cd;
        }
        .node1{
            left:10%;
        }
        .node2{
            left:30%;
        }
        .node3{
            left:50%;
        }
        .node4{
            left:70%;
        }
        .node5{
            left:90%;
        }
    }

    .character {
        position: absolute;
        bottom: -0.15rem;
        left: 0;
        transition:1s all ease-out;
        .pacman{
            position:relative;
            width:30px;
            height:30px;
            .forehead,
            .head,
            .jaw {
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:50%;
                overflow:hidden;
                transform-origin:center bottom;
            }
            .forehead:before {
                content: '';
                position: absolute;
                top: 40%;
                left: 60%;
                width: 2px;
                height: 4px;
                background-color: rgba(0,0,0,.8);
                z-index: 1;
            }
            .forehead:after,
            .head:after,
            .jaw:after{
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:200%;
                border-radius:50%;
                background:rgba(247,197,40,1);
            }
            .forehead{
                transform:rotate(-30deg);
                /*background:rgba(255,0,0,.2);*/
            }
            .head{
                transform:rotate(-90deg);
                /*background:rgba(0,255,0,.2);*/
            }
            .jaw{
                transform:rotate(-160deg);
                /*background:rgba(0,0,255,.2);*/
            }
            .forehead-animation {
                animation:forehead-animation .6s infinite linear;
            }
            .jaw-animation {
                animation:jaw-animation .6s infinite linear;
            }
        }

        @keyframes forehead-animation{
            /* half open */
            0% {
                transform:rotate(-30deg);
            }
            /* full open */
            25% {
                transform:rotate(-60deg);
            }
            /* half open */
            50% {
                transform:rotate(-30deg);
            }
            /* closed */
            75% {
                transform:rotate(0deg);
            }
            /* half open */
            100% {
                transform:rotate(-30deg);
            }
        }

        @keyframes jaw-animation{
            /* half open */
            0% {
                transform:rotate(-150deg);
            }
            /* full open */
            25% {
                transform:rotate(-120deg);
            }
            /* half open */
            50% {
                transform:rotate(-150deg);
            }
            /* closed */
            75% {
                transform:rotate(-180deg);
            }
            /* half open */
            100% {
                transform:rotate(-150deg);
            }
        }
    }
    .step0{
        left:-32%;
    }
    .step1{
        left:8%;
    }
    .step2{
        left:28%;
    }
    .step3{
        left:48%;
    }
    .step4{
        left:68%;
    }
    .step5{
        left:88%;
    }
}
